* {
  box-sizing: border-box;
}

body {
  margin: 0;
  height: 100vh;
  background: linear-gradient(135deg, #ff9f43, #1e2a47);
  font-family: "Segoe UI", sans-serif;
}

.auth-wrapper {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: auto;
}


.auth-box {
  width: 360px;
  padding: 30px;
  border-radius: 14px;
  background: rgba(0, 0, 0, 0.35);
  color: white;
}

.auth-box h2 {
  text-align: center;
  margin-bottom: 25px;
}

.auth-box input {
  width: 100%;
  padding: 10px;
  margin: 12px 0;
  background: transparent;
  border: none;
  border-bottom: 1px solid white;
  color: white;
  outline: none;
}

.auth-box input::placeholder {
  color: #ddd;
}

.options {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
}

.remember {
  font-size: 14px;
}

button {
  width: 100%;
  margin-top: 20px;
  padding: 10px;
  background: linear-gradient(to right, #ff9f43, #f39c12);
  border: none;
  border-radius: 6px;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

button:hover {
  opacity: 0.9;
}

.link {
  color: #ffb347;
  cursor: pointer;
  pointer-events: auto;
  font-weight: 600;
}
 {
  pointer-events: auto !important;
}
